@use 'sass:map';
@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

@function clr($color, $shade, $scheme: $active-theme) {
  $map: null;

  @if type-of($scheme) == 'string' {
    @if $scheme == 'red' {
      $map: $red;
    } @else if $scheme == 'orange' {
      $map: $orange;
    } @else if $scheme == 'blue' {
      $map: $blue;
    } @else if $scheme == 'green' {
      $map: $green;
    } @else if $scheme == 'pink' {
      $map: $pink;
    } @else if $scheme == 'purple' {
      $map: $purple;
    } @else if $scheme == 'cyan' {
      $map: $cyan;
    } @else if $scheme == 'yellow' {
      $map: $yellow;
    } @else {
      @error 'unknown scheme';
    }
  } @else if type-of($scheme) == 'map' {
    $map: $scheme;
  } @else if $scheme == $active-theme {
    $map: $active-theme;
  } @else {
    @error 'unknown scheme';
  }

  @if map.has-key($map, $color, $shade) {
    @return map.get($map, $color, $shade);
  } @else {
    @error '$colors does not have that color!';
  }
}

@function fs($font-size) {
  @if map.has-key($font-sizes, $font-size) {
    @return map.get($font-sizes, $font-size);
  } @else {
    @error '$font-sizes does not have that size!';
  }
}
@function sp($space-size) {
  @if map.has-key($spacing-sizes, $space-size) {
    @return map.get($spacing-sizes, $space-size);
  } @else {
    @error '$spacing-sizes does not have that size!';
  }
}

@function size($size) {
  @if map.has-key($sizes, $size) {
    @return map.get($sizes, $size);
  } @else {
    @error '$sizes does not have that size!';
  }
}
