// for creating utility classes
$sizes: (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  13: 3.25rem,
  14: 3.5rem,
  15: 3.75rem,
  16: 4rem,
  17: 4.25rem,
  18: 4.5rem,
  19: 4.75rem,
  20: 5rem,
  21: 5.25rem,
  22: 5.5rem,
  23: 5.75rem,
  24: 6rem,
  25: 6.25rem,
  26: 6.5rem,
  27: 6.75rem,
  28: 7rem,
  29: 7.5rem,
  30: 8rem,
  31: 8.5rem,
  32: 9rem,
  33: 9.5rem,
  34: 10rem,
  35: 10.5rem,
  36: 11rem,
  37: 11.5rem,
  38: 12rem,
  39: 12.5rem,
  40: 13rem,
  41: 13.5rem,
  42: 14rem,
  43: 14.5rem,
  44: 15rem,
  45: 16rem,
  46: 17rem,
  47: 18rem,
  48: 20rem,
);

// for use in the code base
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.25rem;
$size-10: 2.5rem;
$size-11: 2.75rem;
$size-12: 3rem;
$size-13: 3.25rem;
$size-14: 3.5rem;
$size-15: 3.75rem;
$size-16: 4rem;
$size-17: 4.25rem;
$size-18: 4.5rem;
$size-19: 4.75rem;
$size-20: 5rem;
$size-21: 5.25rem;
$size-22: 5.5rem;
$size-23: 5.75rem;
$size-24: 6rem;
$size-25: 6.25rem;
$size-26: 6.5rem;
$size-27: 6.75rem;
$size-28: 7rem;
$size-29: 7.5rem;
$size-30: 8rem;
$size-31: 8.5rem;
$size-32: 9rem;
$size-33: 9.5rem;
$size-34: 10rem;
$size-35: 10.5rem;
$size-36: 11rem;
$size-37: 11.5rem;
$size-38: 12rem;
$size-39: 12.5rem;
$size-40: 13rem;
$size-41: 13.5rem;
$size-42: 14rem;
$size-43: 14.5rem;
$size-44: 15rem;
$size-45: 16rem;
$size-46: 17rem;
$size-47: 18rem;
$size-48: 20rem;
