@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

$active-theme: $green;
// $enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-900;
$color-background-default: $color-primary-500;
$color-text-interactive-default: $color-accent-700;
$color-text-interactive-hover: $color-accent-900;

// set to 0 to disable
$letter-spacing-loose: 0;
$letter-spacing-little: 0.5px;
$letter-spacing-default: 1px;
$letter-spacing-big: 3px;

$line-height-loose: 1;
$line-height-little: 1.1;
$line-height-default: 1.6;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1:
  0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018),
  0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2:
  0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024),
  0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3:
  0px 6px 5px rgb(0, 0, 0, 0.02),
  0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4:
  0px 6px 5px rgb(0, 0, 0, 0.03),
  0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5:
  0px 6px 5px rgb(0, 0, 0, 0.04),
  0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-paragraph;
$body-line-height: $line-height-default;
$body-font-weight: $font-weight-default;
$body-letter-spacing: $letter-spacing-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family-default: $font-family-base;
$heading-color-default: $color-neutral-900;
$heading-font-weight: $font-weight-semi-bold;
$heading-letter-spacing: $body-letter-spacing;
$heading-line-height: $line-height-little;
$heading-text-transform: uppercase;

$heading-1-font-size: $font-size-h1;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-h2;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $font-size-h3;
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-max-width-narrow: 48rem;
$container-max-width: 64rem;
$container-max-width-wide: 75rem;
$container-min-padding-inline: $size-4;

// site header
$site-header-background-color: $color-primary-700;
$site-header-color: $color-neutral-100;
$site-header-padding: $size-2 $size-4;
$site-header-margin: 0;
$site-header-justification-small-screens: center;
$site-header-justification-large-screens: space-between;
$site-header-alignment: center;

//navigation
$navigation-color: $site-header-color;
$navigation-color-hover: $color-accent-300;
$navigation-font-size: $font-size-navlink;
$navigation-letter-spacing: $body-letter-spacing;
$navigation-line-height: $line-height-loose;
$navigation-gap: $size-4;
$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $font-weight-semi-bold;
$navigation-text-transform: uppercase;

// site footer
$footer-background-color: $color-primary-900;
$footer-text-color: $color-neutral-100;
$footer-letter-spacing: $body-letter-spacing;
$footer-link-color: $color-neutral-100;
$footer-link-color-hover: $color-accent-300;
$footer-link-font-family: $font-family-base;
$footer-link-line-height: $line-height-loose;
$footer-link-text-decoration: none;
$footer-link-text-transform: uppercase;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-button;
$button-font-weight: $font-weight-semi-bold;
$button-line-height: $line-height-loose;
$button-text-transform: uppercase;
$button-padding: 0.75em 2em;
$button-border: none;
$button-border-radius: $border-radius-1;
$button-box-shadow: $box-shadow-2;

// primary button
$button-primary-dark-color: $color-white;
$button-primary-dark-background: $color-accent-700;
$button-primary-dark-image: linear-gradient(180deg, $color-accent-900, $color-accent-500);
$button-primary-dark-color-hover: $color-white;
$button-primary-dark-background-hover: $color-accent-900;
$button-primary-dark-image-hover: linear-gradient(180deg, $color-accent-500, $color-accent-900);

$button-primary-light-color: $color-black;
$button-primary-light-background: $color-accent-100;
$button-primary-light-image: linear-gradient(180deg, $color-accent-500, $color-accent-100);
$button-primary-light-color-hover: $color-black;
$button-primary-light-background-hover: $color-accent-300;
$button-primary-light-image-hover: linear-gradient(180deg, $color-accent-100, $color-accent-500);

// accent button
$button-accent-dark-color: $color-white;
$button-accent-dark-background: $color-primary-700;
$button-accent-dark-image: linear-gradient(180deg, $color-primary-900, $color-primary-500);
$button-accent-dark-color-hover: $color-white;
$button-accent-dark-background-hover: $color-primary-900;
$button-accent-dark-image-hover: linear-gradient(180deg, $color-primary-500, $color-primary-900);

$button-accent-light-color: $color-black;
$button-accent-light-background: $color-primary-100;
$button-accent-light-image: linear-gradient(180deg, $color-primary-500, $color-primary-100);
$button-accent-light-color-hover: $color-black;
$button-accent-light-background-hover: $color-primary-300;
$button-accent-light-image-hover: linear-gradient(180deg, $color-primary-100, $color-primary-500);

// cards
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-2;
$card-background-default: $color-primary-100;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1.25;
$card-heading-color-default: $card-color-default;
$card-heading-font-size: $font-size-h3;

// forms
$form-label-color: $body-text-color;
$form-label-font-family: $body-font-family;
$form-label-font-weight: $font-weight-bold;
$form-label-font-size: $body-font-size;

$form-input-color: $body-text-color;
$form-input-font-family: $body-font-family;
$form-input-font-weight: $font-weight-semi-bold;
$form-input-font-size: $body-font-size;
$form-input-background-color: $color-neutral-100;
$form-input-border-default: 3px solid $color-primary-300;
$form-input-border-focus: 3px solid $color-primary-500;
$form-input-padding: $size-3;
$form-input-border-radius: $border-radius-1;

$form-placeholder-color: $color-primary-300;
$form-placeholder-font-family: $form-input-font-family;
$form-placeholder-font-weight: $form-input-font-weight;
$form-placeholder-font-size: $body-font-size;

$form-group-spacing: 0.5rem;
